
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/blog_styles.css">
        <link rel="stylesheet" type="text/css" href="~/css/blog_responsive.css">
        <link rel="stylesheet" href="~/css/slider.css" />
    </head>
 
<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="img/agenda.png"> </div>
    <div class="home_overlay"></div>
    <div class="home_content d-flex flex-column align-items-center justify-content-center">
        <h2 class="home_title">GÜNDEM</h2>
    </div>
</div>
